Repository n8n-io/n8n-docs, pull requests merged in 2025-09, with the labels that each got.

#2837 Fixed _(node-name).item in docs
  docs/code/builtin/output-other-nodes.md
Labels: community-contribution

#3594 docs: Add "Tidy up workflow" and "Convert node to sub-workflow" to Node controls
  docs/workflows/components/nodes.md
Labels: community-contribution, low-effort-usable

#3602 docs: Clarify and reformat Node settings; remove "Request Options"
  docs/workflows/components/nodes.md
Labels: community-contribution, low-effort-usable

#3713 Release notes for enterprise 1.113.1 desiree
  docs/_images/release-notes/filter-insights.png
  docs/_images/release-notes/workflow-diff-plus.png
  docs/release-notes.md
Labels: internal-contribution
